{
  "extends": "plugin:@-k/base",
  "plugins": ["@-k"],
  "overrides": [
    {
      "files": "test/**/*.test.js",
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
